body {
  font-family: "Roboto Slab", serif;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}
p {
  font-size: 15px;
  font-family: monospace;
  margin: 5px auto;
  max-width: 600px;
  position: relative;
  top: -20px;
}
.github-link {
  text-decoration: none;
}
.navigation-items {
  margin: 0;
  font-size: 20px;
  color: #007bff;
  padding: 0 0 20px;
}
.city {
  text-decoration: none;
}
.btn-primary {
  position: relative;
  left: -8px;
  transition: 250ms ease-in-out;
}
.btn-success {
  transition: 250ms ease-in-out;
}
.summarry,
.weather-info {
  opacity: 0.6;
}
.searched-city {
  position: relative;
  top: 12px;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.weather-info-text {
  font-size: 16px;
  height: 19px;
  line-height: 1;
}
.temperature {
  font-size: 50px;
  font-weight: 900;
  padding: 0 0 20px;
  margin: 0 0 20px;
  line-height: 1;
}
.units {
  position: relative;
  top: -32px;
}
.degree-fahrenheit,
.degree-celsius {
  text-decoration: none;
}
.weather-icon {
  height: 68px;
  line-height: 1;
  position: relative;
  top: -10px;
  margin-right: 5px;
}
.summarry {
  list-style: none;
  position: relative;
  right: -100px;
}
.future-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
